<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Privacy Policy</title>
  </head>
  <body style="margin: 8%; margin-top: 4%">
    <h1 style="text-align: center; margin-bottom: 4%">Privacy Policy</h1>

    <p><strong>Effective Date: 01-05-2021</strong></p>
    <h3>Your privacy is important to us</h3>

    <p>
      It is <%= appName %>'s policy to respect your privacy regarding any
      information we may collect while operating our website. This Privacy
      Policy applies to <%= appName %>&nbsp;(hereinafter, "us", or "we"). We
      respect your privacy and are committed to protecting personally
      identifiable information you may provide us through the Website. We have
      adopted this privacy policy ("Privacy Policy") to explain what information
      may be collected on our Website, how we use this information, and under
      what circumstances we may disclose the information to third parties. This
      Privacy Policy applies only to information we collect through the Website
      and does not apply to our collection of information from other sources.
    </p>
    <p>
      This Privacy Policy, together with the Terms of service posted on our
      Website, set forth the general rules and policies governing your use of
      our Website. Depending on your activities when visiting our Website, you
      may be required to agree to additional terms of service.
    </p>
    <h2 id="tableofcontents"><br /></h2>
    <ol type="1"></ol>
    <h2 id="PII">1. Personally-Identifying Information</h2>
    <p>
      Certain visitors to <%= appName %>'s app choose to interact with <%=
      appName %> in ways that require <%= appName %> to gather
      personally-identifying information. The amount and type of information
      that <%= appName %> gathers depends on the nature of the interaction. For
      example, we ask visitors who creates account at <%= appName %> app to
      provide name, profile picture, country, gender, birthday, interests and
      description to match related users and email and password required for
      user login.
    </p>

    <p><br /></p>
    <h2 id="Security">2. Security</h2>
    <p>
      The security of your Personal Information is important to us, but remember
      that no method of transmission over the Internet, or method of electronic
      storage is 100% secure. While we strive to use commercially acceptable
      means to protect your Personal Information, we cannot guarantee its
      absolute security.
    </p>

    <p><br /></p>
    <h2 id="PIIProtection">
      3. Protection of Certain Personally-Identifying Information
    </h2>
    <p>
      <%= appName %> discloses potentially personally-identifying and
      personally-identifying information only to those of its employees,
      contractors and affiliated organizations that (i) need to know that
      information in order to process it on <%= appName %>'s behalf or to
      provide services available at <%= appName %>'s app, and (ii) that have
      agreed not to disclose it to others. Some of those employees, contractors
      and affiliated organizations may be located outside of your home country;
      by using <%= appName %>'s app, you consent to the transfer of such
      information to them. <%= appName %> will not rent or sell potentially
      personally-identifying and personally-identifying information to anyone.
      Other than to its employees, contractors and affiliated organizations, as
      described above, <%= appName %> discloses potentially
      personally-identifying and personally-identifying information only in
      response to a subpoena, court order or other governmental request, or when
      <%= appName %> believes in good faith that disclosure is reasonably
      necessary to protect the property or rights of <%= appName %>, third
      parties or the public at large.
    </p>
    <p>
      If you are a registered user of <%= appName %> app and have supplied your
      email address, <%= appName %> may not currently send you an email to tell
      you about new features, solicit your feedback, or just keep you up to date
      with what's going on with <%= appName %> and our products. We primarily
      use our blog to communicate this type of information, so we expect to keep
      this type of email to a minimum. If you send us a request (for example via
      a support email or via one of our feedback mechanisms), we reserve the
      right to publish it in order to help us clarify or respond to your request
      or to help us support other users. <%= appName %> takes all measures
      reasonably necessary to protect against the unauthorized access, use,
      alteration or destruction of potentially personally-identifying and
      personally-identifying information.
    </p>

    <p><br /></p>
    <h2 id="Under_18">4. Under 18 age groups</h2>
    <p>
      <%= appName %> app was made for the soul purpose of meeting with strangers
      and making new friends discouraging any 18+ contents. But people having
      the age less than 18 should use <%= appName %> app under parental
      guidelines.
    </p>

    <p><br /></p>
    <h2 id="Stats">5. Aggregated Statistics</h2>
    <p>
      <%= appName %> may collect statistics about the behavior of visitors to
      its app. <%= appName %> may display this information publicly or provide
      it to others. However, <%= appName %> does not disclose your
      personally-identifying information.
    </p>

    <p><br /></p>
    <h2 id="Changes">6. Privacy Policy Changes</h2>
    <p>
      Although most changes are likely to be minor, <%= appName %> may change
      its Privacy Policy from time to time, and in <%= appName %>'s sole
      discretion. <%= appName %> encourages visitors to frequently check this
      page for any changes to its Privacy Policy. Your continued use of this
      site after any change in this Privacy Policy will constitute your
      acceptance of such change.
    </p>

    <p><br /></p>
    <h2 id="Credit">7. Contact Information</h2>
    <p>
      If you have any questions about our Privacy Policy, please contact us via
      <a href="mailto:<%= emailAddress %>">email</a>&nbsp;at <%= emailAddress
      %>.
    </p>
  </body>
</html>
